
.app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.eachItem{
margin: 0.5rem;
}


ul {
	list-style-type: none;
	list-style: none;
}

.item-name{
border: 1px solid black;
padding: 0.2rem;
}

